name: Build and Deploy Voting App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR (for build)
        run: az acr login --name acrkshyvetskyi

      - name: Build and push vote
        run: |
          docker build -t acrkshyvetskyi.azurecr.io/vote:latest ./vote
          docker push acrkshyvetskyi.azurecr.io/vote:latest

      - name: Build and push result
        run: |
          docker build -t acrkshyvetskyi.azurecr.io/result:latest ./result
          docker push acrkshyvetskyi.azurecr.io/result:latest

      - name: Build and push worker
        run: |
          docker build -t acrkshyvetskyi.azurecr.io/worker:latest ./worker
          docker push acrkshyvetskyi.azurecr.io/worker:latest

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_PUBLIC_IP }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            az acr login --name acrkshyvetskyi
            cd /home/${{ secrets.VM_USERNAME }}/example-voting-app
            docker compose pull
            docker compose up -d --remove-orphans
